{
    "alt-speed-down": {{td_alt_speed_down}},
    "alt-speed-enabled": {{td_alt_speed_enabled}},
    "alt-speed-time-begin": {{td_alt_speed_time_begin}},
    "alt-speed-time-day": {{td_alt_speed_time_day}},
    "alt-speed-time-enabled": {{td_alt_speed_time_enabled}},
    "alt-speed-time-end": {{td_alt_speed_time_end}},
    "alt-speed-up": {{td_alt_speed_up}},
    "bind-address-ipv4": "{{td_bind_address_ipv4}}",
    "bind-address-ipv6": "{{td_bind_address_ipv6}}",
    "blocklist-enabled": {{td_blocklist_enabled}},
    "blocklist-url": "{{td_blocklist_url}}",
    "cache-size-mb": {{td_cache_size_mb}},
    "dht-enabled": {{td_dht_enabled}},
    "download-dir": "{{td_download_dir}}",
    "download-limit": {{td_download_limit}},
    "download-limit-enabled": {{td_download_limit_enabled}},
    "download-queue-enabled": {{td_download_queue_enabled}},
    "download-queue-size": {{td_download_queue_size}},
    "encryption": {{td_encryption}},
    "idle-seeding-limit": {{td_idle_seeding_limit}},
    "idle-seeding-limit-enabled": {{td_idle_seeding_limit_enabled}},
    "incomplete-dir": "{{td_incomplete_dir}}",
    "incomplete-dir-enabled": {{td_incomplete_dir_enabled}},
    "lpd-enabled": {{td_lpd_enabled}},
    "max-peers-global": {{td_max_peers_global}},
    "message-level": {{td_message_level}},
    "peer-congestion-algorithm": "{{td_peer_congestion_algorithm}}",
    "peer-id-ttl-hours": {{td_peer_id_ttl_hours}},
    "peer-limit-global": {{td_peer_limit_global}},
    "peer-limit-per-torrent": {{td_peer_limit_per_torrent}},
    "peer-port": {{td_peer_port}},
    "peer-port-random-high": {{td_peer_port_random_high}},
    "peer-port-random-low": {{td_peer_port_random_low}},
    "peer-port-random-on-start": {{td_peer_port_random_on_start}},
    "peer-socket-tos": "{{td_peer_socket_tos}}",
    "pex-enabled": {{td_pex_enabled}},
    "port-forwarding-enabled": {{td_port_forwarding_enabled}},
    "preallocation": {{td_preallocation}},
    "prefetch-enabled": {{td_prefetch_enabled}},
    "queue-stalled-enabled": {{td_queue_stalled_enabled}},
    "queue-stalled-minutes": {{td_queue_stalled_minutes}},
    "ratio-limit": {{td_ratio_limit}},
    "ratio-limit-enabled": {{td_ratio_limit_enabled}},
    "rename-partial-files": {{td_rename_partial_files}},
    "rpc-authentication-required": {{td_rpc_authentication_required}},
    "rpc-bind-address": "{{td_rpc_bind_address}}",
    "rpc-enabled": {{td_rpc_enabled}},
    "rpc-password": "{{td_rpc_password}}",
    "rpc-port": {{td_rpc_port}},
    "rpc-url": "{{td_rpc_url}}",
    "rpc-username": "{{td_rpc_username}}",
    "rpc-whitelist": "{{td_rpc_whitelist}}",
    "rpc-whitelist-enabled": {{td_rpc_whitelist_enabled}},
    "scrape-paused-torrents-enabled": {{td_scrape_paused_torrents_enabled}},
    "script-torrent-done-enabled": {{td_script_torrent_done_enabled}},
    "script-torrent-done-filename": "{{td_script_torrent_done_filename}}",
    "seed-queue-enabled": {{td_seed_queue_enabled}},
    "seed-queue-size": {{td_seed_queue_size}},
    "speed-limit-down": {{td_speed_limit_down}},
    "speed-limit-down-enabled": {{td_speed_limit_down_enabled}},
    "speed-limit-up": {{td_speed_limit_up}},
    "speed-limit-up-enabled": {{td_speed_limit_up_enabled}},
    "start-added-torrents": {{td_start_added_torrents}},
    "trash-original-torrent-files": {{td_trash_original_torrent_files}},
    "umask": {{td_umask}},
    "upload-limit": {{td_upload_limit}},
    "upload-limit-enabled": {{td_upload_limit_enabled}},
    "upload-slots-per-torrent": {{td_upload_slots_per_torrent}},
    "utp-enabled": {{td_utp_enabled}}
}